
{* Set these to append base url to another template *}
{$base_path = "/admin"}
{$template = "cms-admin"}

{render "index.php"
	base_path=$base_path
	template=$template}

<script>
!window.jQuery && document.write(unescape('%3Cscript src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"%3E%3C/script%3E'));

(function($) {

	// Prefix all relative URLs with /admin.
	function prefixUrl(url) {
		if (url
		&& url.indexOf('/') == 0
		&& url.indexOf('{$base_path}') == -1) {
			url = '{$base_path}'+url;
		}
		return url;
	}
	$('a').each(function() {
		var url = this.getAttribute('href');
		this.href = prefixUrl(url);
	});
	$('form').each(function() {
		var url = this.getAttribute('action');
		this.action = prefixUrl(url);
	});
	$('#search').each(function() {
		this.action = '{$base_path}';
	});
	$('#list, #info').each(function() {
		var url = $(this).data('url');
		$(this).data('url', prefixUrl(url));
	});
	$('.field .image').each(function() {
		var url = $(this).data('upload');
		$(this).data('upload', prefixUrl(url));
	});
	$('.view-link, button').each(function() {
		var url = $(this).data('href');
		$(this).data('href', prefixUrl(url));
	});

})(window.jQuery);
</script>